  /* Estilos generales */
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }

  .container {
      width: 80%;
      margin: 0 auto;
  }

  /* Estilos del encabezado */
  .header {
      background-color: #d8b722;
      color: white;
      padding: 2rem;
      text-align: center;
  }

  .header__logo {
      border-radius: 50%;
  }

  .header__title {
      font-size: 3.5rem;
      margin: 1rem 0;
  }

  .header p {
      font-size: 1.6rem;
      margin: 0;
  }

  /* Estilos de la navegación */
  .nav {
      background-color: #333;
      color: white;
      padding: 1rem 0;
  }

  .nav__list {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
  }

  .nav__item {
      margin: 0 1.5rem;
  }

  .nav__link {
      color: #fff;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      text-decoration: none;
  }

  .nav__link:hover {
      background-color: #555;
  }

  /* Estilos del contenido principal */
  .main {
      padding: 2rem 0;
  }

  .section {
      margin-bottom: 2rem;
  }

  .section__title {
      color: #d8b722;
      font-size: 2.5rem;
      margin-bottom: 1rem;
  }

  .columns__title {
      font-size: 1.8rem;
      color: #944c82;
  }